@import "../../css-config/mixins.scss";

.main-header
{
    width: 100%;
    padding: 0 20px;
    display: flex;
    background-color: rgb(12, 11, 11);
    color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 99;
    justify-content: space-between;
    align-items: center;
    @include md{
        padding: 0 40px;
    }
    @include sm{
        background-color: red;
    }
    @include md{
        background-color: green;
    }
    @include lg{
        background-color: black;
    }
    .header-content
    {
        display: flex;
        height: 70px;
        max-width: 1200px;
        align-items: center;
    }  
        .left
        {
            list-style-type: none;
            display: flex;
            gap: 25px;
            
            li{
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                cursor: pointer;
            }
        }

        .center
        {
            font-size: 22px;
            font-weight: 700;
            cursor: pointer;
        }

        .right
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            margin-right: 20px;

            svg{
                font-size: 20px;
                cursor: pointer;
            }
            .cart-icon{
                position: relative;
                span{
                    min-width: 20px;
                    text-align: center;
                    background-color: #8e2de2;
                    padding: 2.5px;
                    position: absolute;
                    top: -5px;
                    right: -12px;
                    font-size: 12px;
                    line-height: 1;
                    border-radius: 10px;

                }
            }
        }

        &.sticky-header{
            position: sticky;
            top: 0;
            animation: stickyHeader 0.3s ease forwards;
        }
 
}

@keyframes stickyHeader {
    0%{
        transform: translateY(-80px);

    }
    100%{
        transform: translateY(0);
    }
}